@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--redlight: #DB504A;
	--light-red:#ffaaa7;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--green:#008000;
	--light-green:#a6fda6;
	--dark-green:#394b39;
	--lighter-grey:#f4f4f4;
	--light-gray:#f0f0f0;
	--fb-blue: #4267B2;
	--red: #f00;
	--li-grey: #ccc;
	--gray:#c4bfbf;
	--light-hover: #f0f2f5; 
	
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

/* SIDEBAR */

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: width 0.3s ease-in-out;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--green);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 1px;
	box-sizing: content-box;
	margin-top:5px ;
}

#sidebar .brand .bsulogo{
height:31px;
width: 32px;
align-items: center;
margin:15px;
margin-inline-end: 23px;
display: flex;
justify-content: center;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 30px;
}

#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
	justify-content: space-between;

}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 13.5px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--green);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}

#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

.dropdown-content {
    border-radius: 48px 0 0 48; 	
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
/* Style the dropdown menu */
.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; /* Add this to ensure the ul extends the full width */
	
}

.dropdown-content li {
    padding: 60px;
    background-color: var(--dark);
    border-radius: 0; 
}

.dropdown-content a {
    text-decoration: none;
    color: var(--light);
    display: block;
    transition: background-color 0.2s;
}

/* Style the dropdown toggle */
.dropdown-toggle:hover .dropdown-content {
    display: block;
    border-radius: 48px 0 0 48px; /* Adjust border-radius when the dropdown is open */
}

/* Tooltip styles */
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    bottom: 100%; /* Position the tooltip above the text */
    left: 50%;
    transform: translateX(-50%);
}

[data-tooltip]:hover:before {
    opacity: 1;
    visibility: visible;
    bottom: 120%; /* Adjust the distance from the text */
}

/* SIDEBAR */
/*popups n.m.p */

/* Styles for the profile popups */
.profile-popup {
    display: none;
    position: absolute;
    right: 0;
    top: 60px; /* Adjust the distance from the icon */
    background-color: var(--light);
    border: 1px solid var(--green);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px; /* Adjust the width as needed */
    border-radius: 10px; /* Adjust the radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for a better visual effect */
    overflow: hidden;
    z-index: 1;
}
/* Styles for the profile popup */
#profile-popup {
    display: none;
    position: absolute;
    right: 0;
    top: 60px; /* Adjust the distance from the profile icon */
    background-color: var(--light);
    border: 1px solid var(--green);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; /* Adjust the width as needed */
    max-height: 400px; /* Adjust the maximum height as needed */
    border-radius: 10px; /* Adjust the radius as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for a better visual effect */
    margin-right: 25px; /* Adjust the margin-right value as needed */
    overflow-y: auto;
    z-index: 2; /* Ensure the profile pop-up appears above the message pop-up */
}

.popup-content {
	padding: 16px;
}
.profile-header {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.profile-picture {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image circular */
    margin-right: 15px;
}

.profile-name {
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold;
}

hr {
    margin: 15px 0;
    border: 0.5px solid var(--green);
}

.profile-menu {
    display: flex;
    flex-direction: column;
}

.profile-item {
    padding: 10px 0;
    cursor: pointer;
	padding: 10px 0;
	cursor: pointer;
	color: var(--dark); /* Default font color */
	transition: color 0.3s; /* Add transition for font color change */
}

.profile-item:hover {
	
        color: var(--blue); /* Change font color on hover */
}
.profile-item.clicked {
        color: var(--green); /* Change font color when clicked */
}

.profile-header img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 12px;
}

.user-info p {
	margin: 0;
}

.profile-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--dark); 
}

.profile-menu a {
	display: block;
	color: var(--dark);
	text-decoration: none;
	padding: 8px 0;
	transition: background-color 0.3s;
	border-radius: 10px; 
    overflow: hidden; 
	transition: width 0.3s, padding-left 0.3s;
	padding-left: 0;
}

.profile-menu a:hover {
	background-color:rgba(128, 128, 128, 0.248);
    border-radius: 15px; 
	padding-left: 10px;
}
.profile-menu i {
	margin-right: 8px;
	
}
/* Adjust other styles as needed */

/* Additional styles for the notification icon */
.notification {
    position: relative;
}

.notification .num {
    /* Styles for the notification number badge */
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

/*popups n.m.p */

#clock {
    font-size: 24px;
	height: 36px;
	margin-left: 18px;
	position:center;
	width: 150px;
	padding: 0 16px;
	left: 50px;
	border-radius: 36px;
	background: none;
	color: var(--dark);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 200px);
	left: 200px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}

/* Initially hide the dropdown content */
.dropdown-content {
    display: none;
}

/* Style the dropdown menu */
.dropdown-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-content li {
    padding: 50px;
    background-color: #222;
}

.dropdown-content a {
    text-decoration: none;
    color: white;
    display: block;
    transition: background-color 0.2s;
}

/* Style the dropdown toggle */
.dropdown-toggle:hover .dropdown-content {
    display: block;
}

/* NAVBAR */
nav {
    position: relative;
} 

#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;

}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);

	/*searchbar*/
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--green);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
	/*searchbar*/
}
#content nav .notification {
	font-size: 25px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Add the following styles to your existing CSS file or style block */

nav {
    position: relative;
}

.notification,
.message {
    position: relative;
    display: flex;
    align-items: center;
}

.circle {
    position: absolute;
    border-radius: 50%;
    width: 40px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    background-color: var(--grey);
    transition: background-color 0.3s; /* Add smooth transition for color change */
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the circle */
}

.notification:hover .circle,
.message:hover .circle {
    background-color: var(--gray);
}

.notification .num {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    color: var(--light);
    font-weight: 700;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
	/*popup menu*/
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
	
}
#content nav .prof {
	position: relative;
}
#content nav .profile-menu {
	position: absolute;
	background:var(--light);
	width: 250px;
	right: 25px;
	top: 20;
	padding: 13px;
	opacity: 0;
	pointer-events: none;
	border-radius: 6px;
	box-shadow: 0 5px 10px var(--dark);
	transition:0.2s ease ; 
	margin-left: 8px;
	font-size: 19;
	list-style: none;
}
#content nav .prof:hover .profile-menu {
	opacity: 1;
	pointer-events: auto; 
}
/*switch*/
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--green);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */
/* MAIN */
#content main {
	width: 100%;
	padding: 10px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

/* Add this CSS to adjust the search box and icon */
.search-box {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Add some margin for spacing */
}

/* Adjust the input box styles */
.search-box input[type="text"] {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    width: 200px; /* Adjust the width as needed */
	background-color: var(--light-gray);
}

/*Tab like button for Student Result and Forms*/
.tab-button {
  padding: 10px 20px;
  background-color: var(--dark-grey);
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 3px;
}

.tab-button:hover {
	background-color: var(--light-green);
	color:var(--gray);
  }
  
.tab-button.active {
  background-color: var(--green);
}

/* Style for tab content */
.tab-content {
	display: none;
  }
  
  /* Display the active tab content */
  .tab-content.active {
	display: block;
  }

/* Adjust the margin between the icon and input */
#searchIcon {
    margin-right: -5px; 
	color:  var(--dark);
} 
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
/* MAIN */
#content main {
	width: 100%;
	padding: 10px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}

.importform {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	padding: 10px;
	border: 2px solid var(--gray);
	border-radius: 5px;
	font-size: 18px;
	margin-top: 20px;
  }
  
  label {
	margin-bottom: 5px;
  }
  
  input[type="file"] {
	margin-bottom: 10px;
	font-size: 16px;
	margin-left: 30px;
  }
  
  button[type="submit"] {
	background-color: var(--green);
	color: var(--light);
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
  }
  
  button[type="submit"]:hover {
	background-color: var(--gray);
  }
 
 #content main .button {
	border: none;
	border-radius: 10px;
	color:var(--light);
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 20px 2px;
	cursor: pointer;
	transition-duration: 0.4s;
	float: right;
}

#content main .button.save {
	background-color: var(--yellow);
	color:var(--dark);
}

#content main .button.save:hover {
	background-color: var(--light-yellow);
  	color: var(--gray);
}

#content main .button.send {
	background-color: var(--orange); 
 	color: var(--dark); 
}

#content main .button.send:hover {
	background-color: var(--light-orange);
  	color:var(--gray);
}

#content main .button.import:hover {
	background-color: var(--light-yellow);
  	color: var(--gray);
}

#content main .button.export {
	background-color: var(--blue);
	color:var(--dark);
}

#content main .button.export:hover {
	background-color: var(--light-blue);
  	color: var(--gray);
}

#content main .button.edit {
	background-color: var(--blue);
	color:var(--dark);
}

#content main .button.edit:hover {
	background-color: var(--light-blue);
  	color: var(--gray);
}

#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}

#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
	/*button download*/
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
	/*button download*/
}
.btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--green);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}
.btn-download:hover {
	background: var(--blue);
}
#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 15px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 15px;
	background: var(--light);
	border-radius: 15px;
	display: flex;
	align-items: center;
	grid-gap: 18px;
}
#content main .box-info li .bx {
	width: 70px;
	height: 70px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(1) .bx:hover {
	background: var(--dark-green);
	opacity: .2;
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-green);
	color: var(--green);
}
#content main .box-info li:nth-child(2) .bx:hover {
	background: var(--dark-green);
	opacity: .2;
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(3) .bx:hover {
	background: var(--dark-green);
	opacity: .2;
}
#content main .box-info li:nth-child(4) .bx {
	background: var(--light-red);
	color: var(--red);
}
#content main .box-info li:nth-child(4) .bx:hover {
	background: var(--dark-green);
	opacity: .3;
}
#content main .box-info li:nth-child(5) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li:nth-child(5) .bx:hover {
	background: var(--dark-green);
	opacity: .3;
}
#content main .box-info li .text h3 {
	font-size: 20px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
	font-size: 12px;
}
#content main .table-data {
	flex-grow: 1;
    flex-basis: 300px; /* Updated value */
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 15px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
/*Drop down for Student Profile*/
#content main .table-data .head .profile-dropdown {
    background-color:var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
	border-radius: 5px;
    font-size: 16px;
	font-weight: bold;
    width: 400px;
}
/* Style the dropdown options */
#content main .table-data .head .profile-dropdown option {
    background-color: var(--light);
    color: var(--dark);
    font-size: 14px;
}
/* Style the arrow (pseudo-element) */
#content main .table-data .head .profile-dropdown::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--dark);
    font-size: 16px;
}
/**/
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 14px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-basis: 200px;
	flex-grow: 1; /* Can grow to fill available space */
}
/*Drop down for College and programs*/
#content main .table-data .order .custom-dropdown {
    background-color:var(--light);
    color: var(--dark);
    border: 1px solid var(--dark);
    font-size: 10px;
    width: 65px;
}
/* Style the dropdown options */
#content main .table-data .order .custom-dropdown option {
    background-color: var(--light);
    color: var(--dark);
    font-size: 14px;
}
/* Style the arrow (pseudo-element) */
#content main .table-data .order .custom-dropdown::after {
    content: '\25BC'; /* Unicode character for a down arrow */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--dark);
    font-size: 14px;
}
/**/
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse; /* Merge cell borders into a single line */
	border: 2px solid var(--dark-grey); /* Add a 1px solid border around table headers and data cells */
}
#content main .table-data .order table th {
	padding-bottom: 1px;
	font-size: 12px;
	border-bottom: 1px solid var(--grey);
	border: 2px solid var(--dark-grey); /* Add a 1px solid border around table headers and data cells */
}
#content main .table-data .order table td {
	padding: 2px 5px;
	font-size: 10px;
	border: 2px solid var(--dark-grey); /* Add a 1px solid border around table headers and data cells */
}
#content main .table-data .order table th, td {
	width: 0px;
	max-width: 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  }
  #content main .table-data .order table tr > td:hover {
	overflow: visible;
	white-space: unset;
	font-size: 1.2em; /* Enlarge the text by 20% when hovered */
    transition: font-size 0.3s; /* Add a smooth transition effect */
  }
  #content main .table-data .order table tr:hover {
	background: var(--li-grey);
  }
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.admitted {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.rejected {
	background: var(--red);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--yellow);
}
#content main .table-data .order table tr td .button {
	border: none;
	border-radius: 10px;
	color:var(--light);
	padding: 4px 8px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 1px 1px;
	cursor: pointer;
	transition-duration: 0.4s;
}
#content main .table-data .order table tr td .button.edit {
	background-color: var(--blue);
	color:var(--light);
}
#content main .table-data .order table tr td .button.edit:hover {
	background-color: var(--lighter-grey);
  	color: var(--gray);
}
#content main .table-data .order table tr td .button.delete {
	background-color: var(--red); 
 	color: var(--light); 
}
#content main .table-data .order table tr td .button.delete:hover {
	background-color: var(--lighter-grey);
  	color:var(--gray);
}
#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */

@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}

@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
	
	#sidebar .brand .adminprofile{
		height:31px;
		width: 32px;
		align-items: center;
		margin:15px;
		margin-inline-end: 23px;
		display: flex;
		justify-content: center;
		}
}