/* Custom CSS for background image */
body {
    background-image: url('assets/images/banner.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.card {
    background: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) to control transparency */
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card h2 {
    text-align: center;
}

.form-control {
    background: transparent !important; /* Use !important to override Bootstrap styles */
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.btn-primary {
    background: #f31303;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn-primary:hover {
    background: #fff;
    color: #23f810;
}
