body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  .logo img {
    width: 50px;
    height: auto;
  }
  
  .form-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .small-label {
    font-size: 14px;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .programFields {
    display: none;
  }
  
  .personal_information {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .applicant_number {
    margin-top: 20px;
  }
  
  #email-error {
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
    color: red;
  }
  