body {
    background-color: cadetblue;
}
form {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 200px;
    margin: 10px auto;
    height: 30px;
    padding: 0 10px;
    border-radius: 4px;
}
#signature-container {
    margin: 10px auto;
    text-align: center;
}
#signature-pad {
    border: 1px solid #000;
    margin: 10px auto;
}
canvas {
    border: 1px solid #ccc;
}
