body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.header {
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
    position: relative;
}

.logo-brand-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    width: 80px;
    height: 70px;
}


.brand h1 {
    font-size: 20px;
    margin: 5px 0 0;
}

.header::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #00ff00;
    position: absolute;
    bottom: 0;
    left: 0;
}

.outer {
    margin: 2%; /* Set a margin relative to the parent container */
    border-radius: 10px;
    border: 2px solid #000000;
    position: absolute;
    width: 96%; /* Set a width relative to the parent container */
}
.background-info-section h2 {
    margin: 20px; /* Adjust margin as needed */
    text-align: center; /* Center the text within this section */
}



.title p {
    margin: 25px; /* Adjust margin as needed */
    text-align: center; /* Center the text within this section */
}


.grid-item {
    float:right;
    right: 150px;
    width: 100%;
    max-width: 150px;
    height: 150px;
    margin-right: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
}

.image-upload-container {
    text-align: center;
    background-color: #fff;
    margin: 0;
    height: 100%;
    position: relative;
}
.id-photo {
    font-size: 10px; /* Adjust the font size to make the label smaller */
}



.id-photo-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border: 1px solid #000000;
    border-radius: 3px;
}
.image-upload-container input[type="file"] {
    display: block;
    margin: 10px auto;
}
.id-photo-sbmt {
    display: none !important; /* Add !important to enforce this style */
}
#submit-button {
    font-size: 55px; /* Adjust the font-size to make the icon bigger */
    color: #6d6161;
    transition: transform 0.2s; /* Add a smooth transition effect */
}

#submit-button:hover {
    transform: scale(1.2); /* Increase the size when hovering */
    color: #000000;
}

.pinformation {
    padding: 20px; /* Adjust the padding as needed */
    font-size: 18px;

}



/* Media query for smaller screens */
@media (max-width: 768px) {
    .outer {
        width: 100%; /* Set a different width for smaller screens */
        max-width: 100%; /* Optional: prevent the element from overflowing */
        margin: 1%; /* Adjust the margin for smaller screens */
    }
}
